*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    background-color: #34343434;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}

h2 {
    margin: 15px;
}

.col-right { 
    max-height: 200px;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
}

.col-right.opened {
    max-height: none;
}

.button {
    margin-bottom: 10px;
}


@media (min-width: 700px) {
    .container {
        width: 700px;
        margin: 34px auto;
    }

    .col-left, .col-right {
        width: 49%;
    }
    
    .col-left {
        float: left;
    }
    
    .col-right {
        float: right;
    }
}